@import '.././node_modules/antd/dist/antd.css';

.weekday {
  font-size: 25px;
  font-weight: bold;
}

.date-info-group {
  text-align: left;
  font-size: 10px;
  margin-bottom: 5px;
}

.id-card-last-code {
  color: yellow;
  font-size: 14px;
}

.maskLogo {
  margin-left: 85px;
}

.search-address {
  border: none;
  border-radius: 20px;
  margin-top: 5px;
}

.adult-mask-amount {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: #A5A5A5;
  color:#FFF;
  font-size: 10px;
  font-weight: bold;
}

.child-mask-amount {
  margin-left: 10px;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: #FFA573;
  color:#FFF;
  font-size: 10px;
  font-weight: bold;
}

.amount-right {
  padding-left: 10px;
}

.drug-store-content {
  font-size: 10px;
  line-height: 18px;
}

.drug-store-mask-amount-group {
  margin-top: 10px;
}

.search-option-district {
  margin-left: 10px;
}

.scroll {
  overflow: scroll;
  height: 370px;
}

.drug-store-title-eye {
  margin-right: 20px;
}

/* marker */

.marker {
  transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
  transform-origin: 50% 50%;
  border-radius: 50% 50% 50% 0;
  padding: 0 3px 3px 0;
  width: 20px;
  height: 20px;
  background: #ed1f34;
  margin: -2.2em 0 0 -1.3em;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}

.marker:after {
  content: '';
  width: 7px;
  height: 7px;
  margin: 7px 7px;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  -webkit-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
}
